<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cj.foundation">
    <!--    网络相关权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--    文件读写相关权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--    读取手机状态属性权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
</manifest>